<div class="mega-menu__product js-mega-menu__product">
  {% include 'loader' class: 'mega-menu__loader js-mega-menu-loader loader--black' %}

  <div class="mega-menu__product-wrapper js-mega-menu__wrapper">
    <div class="mega-menu__product-img-wrapper">
      <img class="mega-menu__product-img js-mega-menu__img" src="" alt="" />
    </div>

    <div class="color-picker js-mega-menu-color-picker"></div>

    <div class="mega-menu__product-info-wrapper">
      <div class="mega-menu__product-info">
        <h2 class="mega-menu__product-title js-mega-menu__title"></h2>
        <span class="mega-menu__product-type js-mega-menu__type"></span>
        <span class="mega-menu__product-price js-mega-menu__price"></span>
      </div>

      <div class="mega-menu__product-variables">
        <h2 class="mega-menu__product-size">
          Size <a href="#" class="mega-menu__product-instructions js-mega-menu__size">What's my size?</a>
        </h2>

        <div class="select-wrapper">
          <select class="select mega-menu__product-variants js-mega-menu-size">
          </select>
        </div>
      </div>
    </div>

    <div class="mega-menu__product-actions">
      <a href="" class="mega-menu__product-url js-mega-menu__url btn btn--dark">View More</a>
      <span class="mega-menu__product-cart js-mega-menu__cart btn btn--scarlet">Add To Cart</span>
    </div>
  </div>

  <select id="mega-menu-product-variants" name="id" class="js-mega-menu-product-variants mega-menu__product-variants--general"></select>
</div>
