<ul class="pagination">
  {% unless paginate.previous.is_link %}
    <li class="pagination__item" aria-hidden="true">
      <button disabled>
        <span class="icon icon--arrow rotate-180 animation--go-to"></span>
      </button>
    </li>
    {% else %}
    <li class="pagination__item">
      <a href="{{ paginate.previous.url }}" class="animation-parent">
        <span class="icon icon--arrow rotate-180 animation--go-to"></span>
      </a>
    </li>
  {% endunless %}

  {% for page in paginate.parts %}
    <li class="pagination__item {% if page.title == paginate.current_page %}is-active{% endif %}">
      <a href="{{ page.url }}" class="pagination__item-link">
        {{ page.title }}
      </a>
    </li>
  {% endfor %}

  {% unless paginate.next.is_link %}
    <li class="pagination__item" aria-hidden="true">
      <button disabled>
        <span class="icon icon--arrow"></span>
      </button>
    </li>
  {% else %}
    <li class="pagination__item">
      <a href="{{ paginate.next.url }}" class="animation-parent">
        <span class="icon icon--arrow animation--go-to"></span>
      </a>
    </li>
  {% endunless %}
</ul>
