<section class="product-faq"
  data-onshow-target=".animation--on-show"
  data-onshow-class="animation--fade-up animated">
  <div class="product-faq__wrapper">
    <header class="layout-section__header product-faq__header">
      <h2 class="layout-section__title product-faq__title">Others have asked…</h2>
    </header>

    <product-faq></product-faq>
  </div>
<section>
