{% assign productMetafields = product.metafields.product %}
{% assign metaFieldsSize = productMetafields | size %}

{% if metaFieldsSize > 0 %}
  <section class="product__information">
    <div class="product-information__wrapper page-block">
      <product-information></product-information>
    </div>
  </section>
{% endif %}
