<section class="product-reviews">
  <div class="product-reviews__wrapper">
    <header class="layout-section__header product-reviews__header">
      <h2 class="layout-section__title product-reviews__title">Don’t take our word for it</h2>
      <p class="layout-section__description product-reviews__description">Here’s what our customers are saying. <br /> All reviews verified by Okendo.</p>
    </header>

    <div class="product-reviews__content">
      {% include 'okendo-reviews' %}
    </div>
  </div>
</section>
