<section class="product-more-details">
  <div class="product-more-details__wrapper">
    <header class="layout-section__header">
      <h2 class="layout-section__title product-more-details__title">A few more details…</h2>
    </header>
    <div class="product-more-details__list">
      <product-more-details></product-more-details>
    </div>
  </div>
</section>
