<section class="product-faq">
  <div class="product-faq__wrapper">
    <header class="layout-section__header product-faq__header">
      <h2 class="layout-section__title product-faq__title">Others have asked…</h2>
    </header>

    <div class="accordion product-faq__items js-product-faq-items">
      <h2 class="accordion__header product-faq__item-header">HOW ARE THESE PRICES POSSIBLE?</h2>
      <div class="accordion__content product-faq__item-contnet">
        <p class="accordion__text product-faq__item-description">We manage all aspects of production, from design to shipping. By offering products directly to you, we are able to eliminate costly factors, such as middlemen, retail operations, inventory and high overhead. This gives us complete control over pricing and the savings are passed on to you.</p>
      </div>
      <h2 class="accordion__header product-faq__item-header">HOW ARE THESE PRICES POSSIBLE?</h2>
      <div class="accordion__content product-faq__item-contnet">
        <p class="accordion__text product-faq__item-description">We manage all aspects of production, from design to shipping. By offering products directly to you, we are able to eliminate costly factors, such as middlemen, retail operations, inventory and high overhead. This gives us complete control over pricing and the savings are passed on to you.</p>
      </div>
      <h2 class="accordion__header product-faq__item-header">HOW ARE THESE PRICES POSSIBLE?</h2>
      <div class="accordion__content product-faq__item-contnet">
        <p class="accordion__text product-faq__item-description">We manage all aspects of production, from design to shipping. By offering products directly to you, we are able to eliminate costly factors, such as middlemen, retail operations, inventory and high overhead. This gives us complete control over pricing and the savings are passed on to you.</p>
      </div>
      <h2 class="accordion__header product-faq__item-header">HOW ARE THESE PRICES POSSIBLE?</h2>
      <div class="accordion__content product-faq__item-contnet">
        <p class="accordion__text product-faq__item-description">We manage all aspects of production, from design to shipping. By offering products directly to you, we are able to eliminate costly factors, such as middlemen, retail operations, inventory and high overhead. This gives us complete control over pricing and the savings are passed on to you.</p>
      </div>
      <h2 class="accordion__header product-faq__item-header">HOW ARE THESE PRICES POSSIBLE?</h2>
      <div class="accordion__content product-faq__item-contnet">
        <p class="accordion__text product-faq__item-description">We manage all aspects of production, from design to shipping. By offering products directly to you, we are able to eliminate costly factors, such as middlemen, retail operations, inventory and high overhead. This gives us complete control over pricing and the savings are passed on to you.</p>
      </div>
    </div>
  </div>
<section>

<script type="text/javascript">
  $('.js-product-faq-items').accordion();
</script>
