<section class="product-more-details">
  <div class="product-more-details__wrapper">
    <header class="layout-section__header">
      <h2 class="layout-section__title product-more-details__title">A few more details…</h2>
    </header>
    <div class="product-more-details__list">
      <article class="product-more-details__item">
        <small class="layout-section__eyebrow">THE INTERIOR IS AS BEAUTIFUL AS THE EXTERIOR</small>
        <p class="layout-section__description">The Vachetta leather lining allows your feet to breathe, regulates temperature and absorbs moisture. Plus it’s super comfortable.</p>
        <span class="product-more-details__separator"></span>
      </article>
      <article class="product-more-details__item">
        <small class="layout-section__eyebrow">LEATHER SOLES LOOK LUXURIOUS AND WILL LAST FOR YEARS</small>
        <p class="layout-section__description">Leather soles are elegant, reliable and can be easily replaced when the time comes. The heels feature a full SBR rubber cap for added traction.</p>
        <span class="product-more-details__separator"></span>
      </article>
      <article class="product-more-details__item">
        <small class="layout-section__eyebrow">SLEEK LOOKING YET COMFORTABLE FOR LONG DAYS OF WEAR</small>
        <p class="layout-section__description">These shoes look sleek yet they have ample instep volume. The shape of the toe box is widely regarded for its contemporary look and excellent fit.</p>
        <span class="product-more-details__separator"></span>
      </article>
      <article class="product-more-details__item">
        <small class="layout-section__eyebrow">SOLID CONSTRUCTION PROVIDES GREAT BALANCE AND SUPPORT</small>
        <p class="layout-section__description">After a few wears the leather lined insoles will take the shape of your foot to create a custom-like footbed which will hold for years.</p>
        <span class="product-more-details__separator"></span>
      </article>
      <article class="product-more-details__item">
        <small class="layout-section__eyebrow">DETAILS DON'T ONLY MATTER, THEY'RE EVERYTHING</small>
        <p class="layout-section__description">Details such as hand-cut leather, hand-sanded soles, subtle burnishing and waxing provide a unique character which sets these shoes apart from the rest.</p>
        <span class="product-more-details__separator"></span>
      </article>
    </div>
  </div>
</section>
