<section class="product__information">
  <div class="product-information__wrapper page-block">
    <article class="product-information__item">
      <div class="product-information__item-image-wrapper">
        <img class="product-information__item-image"
          src="http://via.placeholder.com/663x663/531111/ffffff" />
      </div>

      <div class="product-information__item-content">
        <header class="layout-section__header">
          <small class="layout-section__eyebrow">FULL-GRAIN LEATHER</small>
          <h2 class="layout-section__title">Durable and gets even better with age.</h2>
          <p class="layout-section__description section--why-us__description">This product is made from full-grain Argentinian leather. It’s soft, durable, and like all high quality leather, it will develop a beautiful patina over time. It’s conditioned with shea butter and carnauba wax for a deep color with a natural luster.</p>
        </header>
      </div>
    </article>

    <article class="product-information__item">
      <div class="product-information__item-image-wrapper">
        <img class="product-information__item-image"
          src="http://via.placeholder.com/800x663/34495E/ffffff" />
      </div>

      <div class="product-information__item-content">
        <header class="layout-section__header">
          <small class="layout-section__eyebrow">FULL-GRAIN LEATHER</small>
          <h2 class="layout-section__title">Durable and gets even better with age.</h2>
          <p class="layout-section__description section--why-us__description">This product is made from full-grain Argentinian leather. It’s soft, durable, and like all high quality leather, it will develop a beautiful patina over time. It’s conditioned with shea butter and carnauba wax for a deep color with a natural luster.</p>
        </header>
      </div>
    </article>

    <article class="product-information__item">
      <div class="product-information__item-image-wrapper">
        <img class="product-information__item-image"
          src="http://via.placeholder.com/700x700/531111/ffffff" />
      </div>

      <div class="product-information__item-content">
        <header class="layout-section__header">
          <small class="layout-section__eyebrow">FULL-GRAIN LEATHER</small>
          <h2 class="layout-section__title">Durable and gets even better with age.</h2>
          <p class="layout-section__description section--why-us__description">This product is made from full-grain Argentinian leather. It’s soft, durable, and like all high quality leather, it will develop a beautiful patina over time. It’s conditioned with shea butter and carnauba wax for a deep color with a natural luster.</p>
        </header>
      </div>
    </article>
  </div>
</section>
