.page--product {
  .header-main {
    height: auto;
  }
}

.product__container {
  margin-top: 20px;
}

.product__header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.product-header__images {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;

  .product-header__images-actions {
    margin-top: -50px;
    padding: 0 20px 20px;
    z-index: 2;

    @media (min-width: $desktop) {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    max-width: 660px;
  }
}

.product-header__image {
  margin-bottom: 10px;
  width: 100%;
}

.product-header__details {
  padding: 22px 17px;

  @media (min-width: $desktop) {
    max-width: 370px;
    margin-left: 760px;
    opacity: 0;
    padding: 0;
    position: fixed;
    transition: opacity 0.5s ease;
    width: 100%;
  }
}

.dom-ready {
  .product-header__details {
    opacity: 1;
  }
}

.images-viewed .product-header__details {
  @media (min-width: $desktop) {
    bottom: 0 !important;
    position: absolute;
  }
}

.product-header-details__section {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 25px;
  padding-top: 20px;
}

.product-header__title {
  font-size: 35px;
  line-height: 28px;
}

.product-header__type {
  color: $dark-gray;
  display: inline-block;
  font-size: 13px;
  line-height: 33px;
}

.product-header__prices {
  display: flex;
}

.product-header__price-item {
  display: flex;
  flex-direction: column;

  &:last-of-type:not(:only-child) {
    margin-left: 70px;
  }
}

.product-header__price {
  font-family: $font-secondary--light;
  font-size: 20px;
  line-height: 28px;
}

.product-header__price--retail {
  color: $icon-gray;
  font-family: $font-secondary;
  text-decoration: line-through;
}

.product-header__price-label {
  color: $icon-gray;
  font-family: $font-secondary;
  font-size: 13px;
  margin-top: 10px;
}

.product-header__variants {
  .select-wrapper {
    width: 50%;
  }
}

.product-header__variants-title {
  font-family: $font-secondary;
  font-size: 15px;
  margin-bottom: 15px;
}

.product-header__variant-select {
  width: 100%;
}

.product-header__variant-instructions {
  color: $icon-gray;
  font-family: $font-secondary;
  font-size: 12px;
  text-decoration: underline;
}

.product-header__buttons {
  padding-top: 20px;
}

.product-header__button {
  font-family: $font-secondary--bold;
  font-size: 16px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.product-header__shipping-info {
  color: $icon-gray;
  font-family: $font-secondary;
  font-size: 13px;
  font-style: italic;
  line-height: 24px;
  margin-top: 10px;
  text-align: center;
}

.product__description {
  padding: 10px 30px 65px 30px;
  margin-top: 60px;

  @media (max-width: $desktop) {
    padding-top: 0;
    padding-bottom: 50px;
  }

  &.rte {
    margin-top: 0;

    h2 {
      margin-bottom: 50px;
    }
  }
}
