.product-faq {
  background-color: $light-gray-3;
  padding: 80px 0 90px 0;

  &__wrapper {
    margin: 0 auto;
    max-width: 600px;

    @media (max-width: $desktop) {
      padding: 0 20px;
    }
  }

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
  }

  &__item-description a {
    color: $scarlet;
  }
}
