.product-more-details {
  background-color: $light-gray-3;
  padding: 50px 20px;

  @media (min-width: $desktop) {
    padding: 80px 25px;
  }
}

.product-more-details__wrapper {
  background-color: none;
  margin: 0 auto;
  max-width: 735px;

  @media (min-width: $desktop) {
    background-color: $white;
    padding: 50px 70px;
  }

  .layout-section__header {
    margin-bottom: 40px;

    @media (min-width: $desktop) {
      margin-bottom: 60px;
    }
  }
}

.product-more-details__title {
  text-align: center;
}

.product-more-details__item {
  text-align: center;
  margin-bottom: 45px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 80px;
  }

  .layout-section__eyebrow {
    @media (min-width: $desktop) {
      display: inline-block;
      margin-bottom: 6px;
    }
  }

  .layout-section__description {
    @media (min-width: $desktop) {
      margin-bottom: 24px;
    }
  }
}
