.page--article {
  .header-main {
    background: $white;
    height: auto;
    min-height: auto;
  }
}

.article {
  margin-bottom: 85px;
  margin-top: 40px;

  &__title {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 24px;
    text-align: center;

    @media (min-width: $desktop) {
      font-size: 35px;
      line-height: 48px;
      margin-bottom: 30px;
    }
  }

  &__header {
    padding: 0 45px;

    @media (min-width: $desktop) {
      padding: 0;
    }
  }

  &__author {
    color: $black;
    font: 13px/18px $font-secondary--bold;
    margin: 40px 0 80px;
    text-align: center;

    span {
      text-transform: uppercase;
    }
  }

  &__image {
    margin-bottom: 30px;
    width: 100%;

    @media (min-width: $desktop) {
      margin-bottom: 65px;
    }
  }

  &__description {
    margin: 0 20px;
    padding-bottom: 60px;

    @media (min-width: $desktop) {
      padding-bottom: 40px;
    }

    .separator {
      border-bottom: 1px solid $icon-gray;
      padding: 20px 0;

      @media (min-width: $desktop) {
        padding: 0;
      }
    }

    .article__social {
      display: flex;
      justify-content: center;
    }

    .article__social-sharing {
      padding-top: 0;

      .icon {
        font-size: 20px;
      }
    }
  }
}

.article__content {
  max-width: 690px;
  margin: 0 auto;

  &:last-of-type .article__description {
    border-bottom: 1px solid $icon-gray;
  }

  &:first-of-type:not(:only-of-type) .article__description {
    padding-bottom: 0;
  }
}

.article__gallery {
  .slick-list,
  .slick-slide {
    max-height: 564px;
  }

  img.slick-slide {
    margin: auto;
    padding: 0 15px;

    @media (max-width: $tablet) {
      max-width: 560px;
    }
  }

  &-wrapper {
    margin: 0 auto 60px;
    max-width: 1280px;
    position: relative;
    width: 100%;
  }

  &-arrow {
    cursor: pointer;
    display: none;
    position: absolute;
    top: calc(50% - 29px);
    transition: left .5s ease,
                right .5s ease;

    @media (min-width: $mobile-large) {
      display: inline-block;
    }

    &--left {
      left: 17px;
      transform: rotate(180deg);

      &:hover {
        left: 10px;
      }
    }

    &--right {
      right: 17px;

      &:hover {
        right: 10px;
      }
    }
  }
}

.article__tags-social {
  align-items: center;
  border-top: 1px solid $icon-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 -25px 53px;
  padding-top: 32px;

  @media (min-width: $desktop) {
    align-items: normal;
    flex-direction: row;
    margin: 0 0 83px;
  }
}

.article__tags-item {
  background-color: $light-gray-2;
  font-family: $font-secondary--bold;
  font-size: 12px;
  line-height: 18px;
  margin-right: 20px;
  padding: 5px;

  &:last-of-type {
    margin-right: 0;
  }
}

.article__social-sharing {
  align-items: center;
  display: flex;
  padding-top: 30px;

  @media (min-width: $desktop) {
    padding-top: 0;
  }
}

.article__social-sharing__item {
  display: inline-block;
  margin-right: 20px;

  &:not(.has-icon) {
    font-family: $font-secondary--bold;
    font-size: 12px;
    line-height: 18px;
  }

  &.has-icon {
    .icon {
      color: $scarlet;
      font-size: 18px;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  a {
    text-decoration: none;
  }
}
