.rotate-90 {
  display: inline-block;
  transform: rotate(90deg);
}

.rotate-180 {
  display: inline-block;
  transform: rotate(180deg);
}

.rotate-270 {
  display: inline-block;
  transform: rotate(270deg);
}

.rotate-360 {
  display: inline-block;
  transform: rotate(360deg);
}

.mobile--only {
  display: block;

  @media screen and (min-width: $tablet-small) {
    display: none;
  }
}

.desktop--only {
  display: none;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}
