<div class="account-form__wrapper">
  <div id="login-form">
    {% form 'create_customer' %}
      <h1 class="account-form__title">Login</h1>

      {%- if form.errors -%}
        <div class="form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      <div class="input-control">
        <label for="email" class="form-label required">Email</label>
        <input type="text" name="customer[email]" id="email" class="input form-input">
      </div>

      <div class="input-control">
        <label for="password" class="form-label required">Password</label>
        <input type="password" name="customer[password]" id="password" class="input form-input" autocomplete="new-password">
      </div>

      <div class="input-control input-control--action">
        <button class="btn btn--scarlet login-form-modal__btn">Login Now</button>
        <span class="login-form-modal__forgot js-toggle-recover">Forgot your password?</span>
      </div>

      <div class='oxi-social-login'></div>
    {% endform %}
  </div>

  <div id="recover-form" style="display: none;">
    {% form 'recover_customer_password' %}
      <h1 class="account-form__title">Recover your Password</h1>

      {%- if form.errors -%}
        <div class="form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}
      {% if form.posted_successfully? %}
        <span class="hide reset-password-success"></span>
      {% endif %}

      <div class="input-control">
        <label for="email" class="form-label required">Email</label>
        <input type="email" name="email" id="RecoverEmail" autocorrect="off" autocapitalize="off" class="input form-input">
      </div>

      <div class="input-control input-control--action">
          <button class="btn btn--scarlet login-form-modal__btn"> Send Email </button>
          <span class="btn btn--dark login-form-modal__btn js-toggle-recover">Login Instead</span>
        </div>
    {% endform %}
  </div>

  <a href="/account/register" class="account-form__toggle">NEW CUSTOMER? <span>SIGN UP HERE</span></a>
</div>


<script>
  let control = true;
  $('.js-toggle-recover').on('click', function() {
    if (control) {
      control = false;
      $('#recover-form').show();
      $('#login-form').hide();
    } else {
      control = true;
      $('#recover-form').hide();
      $('#login-form').show();
    }
  });
</script>
