<div class="account-form__wrapper">
  {% form 'create_customer' %}

    <h1 class="account-form__title">Register</h1>

    {%- if form.errors -%}
      <div class="form-message form-message--error">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <input type="hidden" name="form_type" value="create_customer">
    <input type="hidden" name="utf8" value="✓">

    <div class="input-control">
      <label for="first_name" class="form-label required">First Name</label>
      <input id="first_name" type="text" class="input form-input" value="" name="customer[first_name]">
    </div>

    <div class="input-control">
      <label for="last_name" class="form-label required">Last Name</label>
      <input id="last_name" type="text" class="input form-input" value="" name="customer[last_name]">
    </div>

    <div class="input-control">
      <label for="email" class="form-label required">Email Address</label>
      <input id="email" type="email" class="input form-input" value="" name="customer[email]">
    </div>

    <div class="input-control">
      <label for="password" class="form-label required">Password</label>
      <input type="password" class="input form-input" value="" name="customer[password]">
    </div>

    <div class="input-control input-control--action">
      <button class="btn btn--scarlet login-form-modal__btn">Create Account</button>
    </div>

  {% endform %}

  <a href="/account/login" class="account-form__toggle">RETURNING CUSTOMER? <span>LOG IN HERE</span></a>
</div>
