<div class="account-form__wrapper">
  {% form 'reset_customer_password' %}

    <h1 class="account-form__title">Reset account password</h1>
    <p class="account-form__subtitle">Enter a new password for {{ email }}</p>

    {%- if form.errors -%}
      <div class="form-message form-message--error">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <div class="input-control">
      <label for="password" class="form-label required">Password</label>
      <input type="password"
        name="customer[password]"
        id="ResetPassword"
        class="input form-input {% if form.errors contains 'password' %} input--error{% endif %}" />
    </div>

    <div class="input-control">
      <label for="password" class="form-label required">Confirm Password</label>
      <input type="password"
        name="customer[password_confirmation]"
        id="PasswordConfirmation"
        class="input form-input {% if form.errors contains 'password_confirmation' %} input--error{% endif %}" />
    </div>

    <div class="input-control input-control--action">
      <button class="btn btn--scarlet login-form-modal__btn">Reset Password</button>
    </div>
  {% endform %}
</div>
