.animation-parent:hover {
  .animation--go-to {
    padding: 0 5px 0 15px;
  }
}

.animation--go-to {
  padding: 0 10px;
  transition: padding .3s ease;
}

.animation--fade-up {
  animation: fadeup 1s;
}

@keyframes fadeup {
  from {
    padding-top: 35px;
    opacity: 0;
  }

  to {
    padding-top: 0;
    opacity: 1;
  }
}

.animation--fade-up-m {
  animation: fadeup-margin 1s;
}

@keyframes fadeup-margin {
  from {
    margin-top: 35px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.animation--on-show {
  &:not(.animated) {
    padding-top: 35px;
    opacity: 0;
  }
}

.slide-enter-active, .slide-leave-active {
  transition: opacity .5s ease,
              left .5s ease;
}

.slide-enter {
  left: 40% !important;
  opacity: 1 !important;
  position: absolute;
}

.slide-leave-to {
  left: -40% !important;
  opacity: 0 !important;
  position: absolute !important;
}

.going-backwards {
  .slide-leave-to {
    left: calc(100% - 230px) !important;
    opacity: 0 !important;
    position: absolute;
  }

  .slide-enter {
    left: -40% !important;
    opacity: 0 !important;
    position: absolute !important;
  }
}
