$icomoon-font-family: "bs-icons" !default;

$icon--shape1: "\e91e";
$icon--shape2: "\e91f";
$icon--shape3: "\e920";
$icon--shape4: "\e921";
$icon--shape5: "\e922";
$icon--thin-arrow-right: "\e900";
$icon--large-thin-arrow-right: "\e901";
$icon--add: "\e902";
$icon--chevron-left: "\e903";
$icon--chevron-right: "\e904";
$icon--chevron-down: "\e905";
$icon--arrow: "\e906";
$icon--minus: "\e907";
$icon--close: "\e908";
$icon--bills: "\e909";
$icon--card: "\e90a";
$icon--circle-info: "\e90b";
$icon--circle-minus: "\e90c";
$icon--circle-plus: "\e90d";
$icon--clap: "\e90e";
$icon--coin: "\e90f";
$icon--envelope: "\e910";
$icon--needle: "\e911";
$icon--password: "\e912";
$icon--phone: "\e913";
$icon--play: "\e914";
$icon--search: "\e915";
$icon--shield: "\e916";
$icon--shop: "\e917";
$icon--truck: "\e918";
$icon--twitter: "\e919";
$icon--instagram: "\e91a";
$icon--facebook: "\e91b";
$icon--youtube: "\e91c";
$icon--lock: "\e91d";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-family}.eot?et0k1n');
  src:  url('#{$icomoon-font-family}.eot?et0k1n#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-family}.ttf?et0k1n') format('truetype'),
    url('#{$icomoon-font-family}.woff?et0k1n') format('woff'),
    url('#{$icomoon-font-family}.svg?et0k1n##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--shape1 {
  &:before {
    content: $icon--shape1;
  }
}
.icon--shape2 {
  &:before {
    content: $icon--shape2;
  }
}
.icon--shape3 {
  &:before {
    content: $icon--shape3;
  }
}
.icon--shape4 {
  &:before {
    content: $icon--shape4;
  }
}
.icon--shape5 {
  &:before {
    content: $icon--shape5;
  }
}
.icon--thin-arrow-right {
  &:before {
    content: $icon--thin-arrow-right;
  }
}
.icon--large-thin-arrow-right {
  &:before {
    content: $icon--large-thin-arrow-right;
  }
}
.icon--add {
  &:before {
    content: $icon--add;
  }
}
.icon--chevron-left {
  &:before {
    content: $icon--chevron-left;
  }
}
.icon--chevron-right {
  &:before {
    content: $icon--chevron-right;
  }
}
.icon--chevron-down {
  &:before {
    content: $icon--chevron-down;
  }
}
.icon--arrow {
  &:before {
    content: $icon--arrow;
  }
}
.icon--minus {
  &:before {
    content: $icon--minus;
  }
}
.icon--close {
  &:before {
    content: $icon--close;
  }
}
.icon--bills {
  &:before {
    content: $icon--bills;
  }
}
.icon--card {
  &:before {
    content: $icon--card;
  }
}
.icon--circle-info {
  &:before {
    content: $icon--circle-info;
  }
}
.icon--circle-minus {
  &:before {
    content: $icon--circle-minus;
  }
}
.icon--circle-plus {
  &:before {
    content: $icon--circle-plus;
  }
}
.icon--clap {
  &:before {
    content: $icon--clap;
  }
}
.icon--coin {
  &:before {
    content: $icon--coin;
  }
}
.icon--envelope {
  &:before {
    content: $icon--envelope;
  }
}
.icon--needle {
  &:before {
    content: $icon--needle;
  }
}
.icon--password {
  &:before {
    content: $icon--password;
  }
}
.icon--phone {
  &:before {
    content: $icon--phone;
  }
}
.icon--play {
  &:before {
    content: $icon--play;
  }
}
.icon--search {
  &:before {
    content: $icon--search;
  }
}
.icon--shield {
  &:before {
    content: $icon--shield;
  }
}
.icon--shop {
  &:before {
    content: $icon--shop;
  }
}
.icon--truck {
  &:before {
    content: $icon--truck;
  }
}
.icon--twitter {
  &:before {
    content: $icon--twitter;
  }
}
.icon--instagram {
  &:before {
    content: $icon--instagram;
  }
}
.icon--facebook {
  &:before {
    content: $icon--facebook;
  }
}
.icon--youtube {
  &:before {
    content: $icon--youtube;
  }
}
.icon--lock {
  &:before {
    content: $icon--lock;
  }
}
