.rte {
  p {
    font-family: $font-primary;
    font-size: 17px;
    line-height: 32px;
    margin: 0 auto;
    max-width: 620px;
  }

  h2 {
    font-size: 30px;
    line-height: 44px;
    margin: 0 0 21px 0;
  }
}