// Colors
$black: #000;
$white: #fff;
$gray: #666666;
$blue: #3AB0DD;
$dark-blue: #34495E;
$dark-gray: #4D4D4D;
$dark-gray-2: #d3d3d3;
$icon-gray: #6E6E6E;
$border-color: #c9c9c9;
$medium-gray: #888888;
$king-blue: #1C1C1C;
$light-gray: #bfbfbf;
$light-gray-2: #f8f8f8;
$light-gray-3: #f2f2f2;
$color-grey: #e5e5e5;
$scarlet: #930303;
$scarlet-dark: #531111;
$red: #fe3a35;
$green: #66B34E;
$brand-primary: $red;
$brand-secondary: #34495E;
$error: $red;
$success: $green;

// Social Colors

$fb-color: #4460A0;
$tw-color: #26ABE4;
$ig-color: #4F7EA8;
$pt-color: #FE3A35;

// Font Stacks
$font-primary: "georgia", serif, Georgia, Times;
$font-primary--bold: "georgia-bold", serif, Georgia, Times;

$font-heading: "Playfair Display", serif, Georgia, Times;
$font-heading--bold: "playfair-bold", serif, Georgia, Times;

$font-secondary: "nunito-sans", Arial, sans-serif;
$font-secondary--light: "nunito-sans--light", Arial, sans-serif;
$font-secondary--bold: "nunito-sans--bold", Arial, sans-serif;

$font-monospace: Menlo, Monaco, "Courier New", monospace;
$font-icon: "bs-icons";

// Pixel sizes
$desktop-large: 1280px;
$desktop-medium: 1120px;
$desktop: 1024px;
$tablet-large: 992px;
$tablet: 780px;
$tablet-small: 700px;
$mobile-large: 480px;
$mobile: 375px;
$form-with: 556px;

$site-max-width: 1280px;
$sections-max-width: 1160px;
$main-header-height: 142px;
$top-bar-height-desktop: 40px;
$top-bar-height-small: 40px;

// Easing


// Boders
$border-color-primary: #EEEEEE;
$border-color-secondary: #34495E;
$border-color-dark: #4a4a4a;
$border-color-blockquote: #707070;

$border-size-primary: 1px;
$border-type-primary: solid;
