{% paginate blog.articles by section.settings.paginate_by %}

  <header class="layout-section__header">
    <h2 class="layout-section__title">{{ section.settings.title }}</h2>
  </header>

  <div class="blog-article__list blog-article__all">
    {% for article in blog.articles %}
      {% include "article-card" with article %}
    {% endfor %}
  </div>


    {% if blog.comments_enabled? and article.comments_count > 0 %}
      <li>
        <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
          {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
        </a>
      </li>
    {% endif %}


  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "number",
        "id": "paginate_by",
        "label": "Paginate by",
        "default": 12
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ]
  }
{% endschema %}
