.btn {
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: $font-secondary;
  font-size: 16px;
  padding: 22px 40px;
  text-align: center;
  text-transform: none;
  transition: background-color ease 0.4s;
}

.btn--white {
  color: $black;
  background-color: $white;

  &:hover,
  &:focus {
    background-color: darken($white, 15%);
  }
}

.btn--scarlet {
  color: $white;
  background-color: $scarlet;

  &:hover,
  &:focus {
    background-color: darken($scarlet, 10%);
  }
}

.btn--dark {
  color: $white;
  background-color: $king-blue;

  &:hover,
  &:focus {
    background-color: lighten($king-blue, 10%);
  }
}

.btn--outline {
  border: 1px solid $black;
  color: $black;
  background-color: transparent;

  &:hover,
  &:focus {
    border-color: lighten($black, 50%);
    color: lighten($black, 50%);
  }
}

.btn--outline--white {
  border: 1px solid $white;
  color: $white;

  &:hover,
  &:focus {
    border-color: darken($black, 15%);
    color: darken($black, 15%);
  }
}
