.accordion {
  border-bottom: 1px solid $border-color;
}

.accordion__header {
  border-top: 1px solid $border-color;
  cursor: pointer;
  font-family: $font-secondary--bold;
  font-size: 13px;
  line-height: 18px;
  padding: 26px 0 30px;
  position: relative;
  text-align: left;
  text-transform: uppercase;

  &:after {
    background: $scarlet;
    border-radius: 100%;
    color: $white;
    content: "+";
    display: inline-block;
    font-size: 16px;
    height: 17px;
    line-height: 1;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    transition: opacity 0.2s ease;
    width: 17px;
  }

  &.ui-state-active:after {
    content: "-";
  }

  &:hover::after {
    opacity: 0.7;
  }
}

.accordion__content {
  padding-bottom: 20px;
  text-align: left;

  @media (min-width: $desktop) {
    padding-bottom: 26px;
    padding-right: 60px;
  }
}

.accordion__text {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 28px;
}
