.content-block {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  @media (max-width: $tablet-small) {
    margin: 0 20px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    flex-direction: unset;
  }
}

.section--content-block {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 0 75px;

  &:first-child {
    padding-top: 0;

    @media (min-width: $desktop) {
      padding-top: 40px;
    }
  }

  &:last-child {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop) {
    padding: 40px 0 0 0;
  }
}

.section--content-block--left {
  @media (min-width: $desktop) {
    margin-right: auto;
  }
}

.section--content-block--right {
  @media (min-width: $desktop) {
    flex-direction: row-reverse;
    margin-left: auto;
  }
}

.section--content-block__content {
  width: 100%;

  &:not(.animated) {
    margin-top: 35px;
    opacity: 0;
  }

  @media (min-width: $desktop) {
    max-width: 40%;
  }
}

.section--content-block__image-wrapper {
  margin-bottom: 13px;
  width: 100%;

  @media (min-width: $desktop) {
    margin-bottom: 0;
    width: 50%;
  }
}

.section--content-block__content-image {
  max-width: 100%;
}

.section--content-block__title {
  line-height: 35px;
  margin-bottom: 12px;
}
