.content-block {
  width: calc(100% - 40px);

  @media (max-width: $tablet-small) {
    margin: 0 20px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    width: 50%;
  }
}

.section--content-block {
  margin: 0 auto;
  max-width: 768px;
  padding: 30px 0;

  &:first-child {
    padding-top: 100px;
  }

  &:last-child {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0 0 0;
  }
}

.section--content-block--left {
  @media (min-width: $desktop) {
    margin-right: auto;
  }
}

.section--content-block--right {
  @media (min-width: $desktop) {
    margin-left: auto;
  }
}

.section--content-block__content {
  max-width: 366px;

  &:not(.animated) {
    margin-top: 35px;
    opacity: 0;
  }
}

.section--content-block__content-image {
  height: 55px;
  margin-bottom: 15px;
}

.section--content-block__title {
  line-height: 35px;
  margin-bottom: 12px;
}
