.header-main {
  min-height: 400px;
  background-color: $black;
  background-size: cover;
}

.header-main--product {
  min-height: initial;
  background-color: initial;

  a {
    color: $black;
  }

  .header-main--mobile .icon,
  .header-main--mobile .site-menu__link--cart {
    color: $black;
  }
}

.header-main__modal {
  background: $white;
  bottom: 0;
  display: none;
  left: 0;
  padding: 17px;
  position: absolute;
  right: 0;
  top: 37px;
  z-index: 2;

  @media (min-width: $desktop) {
    top: 42px;
    padding: 15px 25px;
  }

  .header-main__list {
    margin: 0;
  }

  .header-main__list-link {
    color: $black;
  }

  .site-menu__list-item {
    display: block;
  }

  .site-menu__link {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 0;
    padding: 9px 0;
    transition: color 0.3s ease;

    &:hover {
      color: $dark-blue;
    }
  }

  .site-menu__link:first-of-type {
    padding-top: 0;
  }

  .header-main__nav {
    @media (max-width: $desktop-large) {
      display: block;
    }
  }

  .header-main__nav--left {
    margin-top: 80px;
  }

  .header-main__nav--right .header-main__list {
    display: block;
  }

  .header-main__nav:last-of-type {
    text-align: initial;
  }
}

.menu-is-open {
  overflow-y: hidden;

  .header-main__modal {
    display: block;

    @media (min-width: $desktop-large) {
      display: none;
    }
  }
}

.header-main--mobile {
  display: flex;

  &__close {
    margin-left: 21px;
  }

  .icon,
  .site-menu__link--cart {
    color: $white;
    line-height: 1;
  }

  .hamburger-menu {
    margin-left: 25px;
  }

  @media screen and (min-width: $desktop-large) {
    display: none;
  }
}

.header-main__nav {
  display: none;
  width: 33.33%;

  &:last-of-type {
    text-align: right;
  }

  @media (min-width: $desktop-large) {
    display: block;
  }
}

.header-main__modal--header {
  display: flex;
  justify-content: space-between;
}

.header-main__nav--right {
  .header-main__list {
    display: flex;
    align-items: center;
  }

  .site-menu__list-search .site-menu__link {
    align-items: flex-end;
    display: flex;
    padding-bottom: 6px;
    padding-top: 5px;
  }

  .site-menu__cart {
    font-size: 20px;
    padding-right: 5px;
  }
}

.header-main__list {
  margin: 20px 0;

  &-item:first-of-type a {
    margin-left: 0;
  }

  &-item:last-of-type a {
    margin-right: 0;
  }

  &-link {
    border-bottom: 0;
    color: $white;
    font-family: $font-secondary;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 9px;
    margin: 0 15px;
    text-transform: uppercase;
    transition: border-color 0.2s ease;

    &:hover:not(.site-menu__link--icon) {
      border-color: $black;
    }

    @media screen and (min-width: $desktop) {
      border-bottom: 1px solid transparent;
    }
  }
}

.header-main__logo {
  @media screen and (max-width: $tablet-small) {
    height: 15px;
  }
}

.header-main__logo-wrapper {
  text-align: center;
}

.header-main__nav-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(#{$site-max-width} + 50px);
  padding: 17px;

  @media screen and (min-width: $desktop) {
    padding: 15px 25px;
  }
}

.header-main__content {
  align-content: center;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: $main-header-height;
  width: 100%;
}

.header-main__title {
  color: $white;
  display: inline-block;
  font-family: $font-heading--bold;
  font-size: 35px;
  line-height: 48px;
  margin-bottom: 60px;
  max-width: 540px;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.header-main__scroll {
  bottom: 15px;
  position: absolute;

  @media screen and (min-width: $desktop) {
    bottom: 50px;
  }

  .icon {
    color: $white;
    font-size: 25px;
  }
}
