.input,
.select {
  color: $black;
  background: $white;
  border: 1px solid $black;
  border-radius: 2px;
  font-size: 15px;
  font-family: $font-secondary;
  line-height: 28px;
  padding: 16px 10px;
}

.select-wrapper {
  position: relative;

  &:before {
    color: $black;
    content: "\e905";
    font-family: $font-icon;
    font-size: 17px;
    position: absolute;
    right: 16px;
    top: calc(50% - 13.5px);
  }
}

.select {
  appearance: textfield;
}
