.pagination {
  align-items: center;
  display: flex;
  color: $king-blue;
  font-family: $font-secondary;
  font-size: 15px;
  justify-content: center;
  padding: 80px 25px;
  text-align: center;
  text-transform: uppercase;

  .pagination__item {
    padding: 0 7px;
  }

  .pagination__item-link {
    color: $king-blue;
    line-height: 1;
    padding: 10px;
  }

  .is-active {
    padding: 0;
  }

  .is-active .pagination__item-link {
    background-color: $white;
    border-radius: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .05);
    color: $king-blue;
    display: inline-block;
    height: 40px;
    line-height: 1.4;
    width: 40px;
  }
}
