.top-bar {
  background-color: $black;
  color: $white;
  padding: 3px 0;

  @media (min-width: $desktop) {
    padding: 6px 0;
  }
}

.top-bar__content {
  display: flex;
  justify-content: center;
  font-family: $font-secondary;
  font-size: 13px;
  line-height: 24px;
  margin: 0 auto;
  max-width: calc(#{$site-max-width} + 50px);
  padding: 0 25px;

  @media (min-width: $desktop) {
    justify-content: space-between;
  }
}

.top-bar__message {
  font-size: 12px;

  @media (min-width: $desktop) {
    font-size: 13px;
    line-height: 24px;
  }
}

.top-bar__contact {
  align-items: center;
  color: $white;
  display: flex;

  .icon {
    color: $white;
    padding-right: 6px;
  }

  a {
    color: $white;
  }
}
