.media-video {
  @media (min-width: $desktop) {
    margin-bottom: 35px;
  }

  &.layout-section {
    @media (max-width: $tablet-small) {
      padding: 70px 25px 100px;
    }
  }

  .layout-section__title {
    @media (min-width: $desktop) {
      margin-bottom: 20px;
    }
  }

  .layout-section__header {
    @media (min-width: $desktop) {
      margin-bottom: 35px;
    }
  }
}

.media-video__iframe-wrapper {
  margin: 0 -20px 40px -20px;

  @media (min-width: $desktop) {
    margin: 0 auto 60px;
    max-width: 1158px;
  }

  iframe {
    width: 100vw;
    height: 56.25vw;

    @media (min-width: $desktop) {
      width: 100%;
      height: calc((#{$site-max-width} / 16) * 9);
      max-width: $site-max-width;
    }
  }
}
