.page--cart {
  .header-main {
    background-color: $white;
    height: auto;
    min-height: auto;
  }

  .main-content {
    margin: 30px auto;
    max-width: $site-max-width;
  }
}

.cart {
  &__wrapper {
    margin: 0 20px;

    @media (min-width: $desktop) {
      margin: 0 25px;
    }

    @media (min-width: $desktop-large + 50px) {
      margin: 0;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 44px;
    text-align: center;

    @media (min-width: $desktop) {
      text-align: left;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__list {
    margin-bottom: 270px;
    width: 100%;

    @media (min-width: $desktop) {
      margin-bottom: 0;
      max-width: calc(100% - 270px);
    }
  }

  &__actions {
    background-color: $white;
    bottom: 30px;
    padding-top: 30px;
    position: fixed;
    right: 20px;
    width: calc(100% - 40px);

    @media (min-width: $desktop) {
      bottom: inherit;
      max-width: 270px;
      padding-top: 15px;
      right: 25px;
      width: 100%;
    }

    @media (min-width: $desktop-large + 50px) {
      right: calc(((100vw - 1280px) / 2));
    }

    > .btn {
      display: inline-block;
      margin-bottom: 15px;
      width: 100%;
    }
  }

  &__prices {
    margin-bottom: 27px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }

  &__shipping-info {
    text-align: center;
  }

  &-empty__header {
    display: flex;
    margin: 10px 0 0;
    padding: 30px 0 20px;

    @media (min-width: $desktop) {
      margin: 30px 0 10px;
      padding: 30px 0;
    }
  }

  &-empty__image {
    margin-right: 20px;
  }

  &-empty__text {
    color: $dark-gray;
    font: 13px/24px $font-secondary--light;
    font-style: italic;

    a,
    span {
      color: $scarlet;
      text-decoration: underline;
    }
  }

  &-empty__content {
    padding: 30px 0;
  }

  &-empty__btn {
    display: block;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;

    @media (min-width: $desktop) {
      display: inline-block;
      margin-right: 30px;
      width: 168px;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}

.cart-price {
  &__label {
    font: 14px/19px $font-secondary--bold;
  }

  &__total {
    font: 15px/20px $font-secondary;
  }

  &__total--red {
    color: $scarlet;
  }
}
