.cart-is-open {
  .cart-modal {
    display: flex;
  }
}

.cart-modal {
  .modal--right__header {
    align-items: center;
    padding-bottom: 21px;
  }

  .cart__form {
    flex-direction: column;
    max-height: calc(100vh - 117px);
  }

  .modal--right__close {
    margin-left: 25px;

    .icon {
      color: $scarlet;
    }
  }

  .modal--right__container {
    max-width: 400px;
    position: relative;
  }

  .cart__wrapper {
    margin: 0;
  }

  .cart__list {
    overflow-y: scroll;
    height: 100vh;
    margin-bottom: 160px;
    max-width: 100%;
  }

  .cart__items {
    margin-top: 0;
  }

  .cart__item {
    border-top: 1px solid $border-color;
    margin: 0;
    padding: 27px 0;

    &:last-of-type {
      border-bottom: 1px solid $border-color;
    }
  }

  .cart-item__price {
    top: 27px;
  }

  .cart-item__remove {
    bottom: 27px;
  }

  .cart__actions {
    bottom: 0;
    max-width: none;
    padding-top: 25px;
    position: fixed;
    right: auto;
    width: calc(100% - 30px);

    @media (min-width: 405px) {
      width: 370px;
    }

    @media (min-width: $desktop) {
      width: 340px;
    }
  }

  &__info-text {
    color: $scarlet;
    font: 12px/18px $font-secondary;
    text-align: center;
    text-transform: uppercase;
  }
}

.inline-cart-empty {
  &__header {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    display: flex;
    padding: 30px 0;
  }

  &__image {
    margin-right: 20px;
  }

  &__text {
    color: $dark-gray;
    font: 13px/24px $font-secondary--light;
    font-style: italic;

    a,
    span {
      color: $scarlet;
      text-decoration: underline;
    }
  }

  &__content {
    padding: 30px 0;
  }

  &__btn {
    display: block;
    margin-bottom: 20px;
    width: 100%;

    &:last-of-type {
      margin: 0;
    }
  }
}

.empty-template {
  display: none;
}
