{% section 'reviews-page-header' %}

<section class="product-reviews">
  <div class="product-reviews__wrapper">
    <header class="layout-section__header product-reviews__header text-center">
      <p class="layout-section__description product-reviews__description">Here's what our customers are saying about our past campaigns.</p>
      <strong class="layout-section__description product-reviews__description">All reviews verified by Okendo.</strong>
    </header>

    <div class="product-reviews__content">
      <div data-oke-reviews-widget=""></div>
    </div>
  </div>
</section>
