{% if page.url contains 'returns' or page.url contains 'exchanges' %}
  {% assign contact_returns = true %}
  {% assign contact_class = 'contact--returns' %}
{% elsif page.url contains 'bulk' %}
  {% assign contact_bulk = true %}
  {% assign contact_class = 'contact--bulk' %}
{% else %}
  {% assign contact_regular = true %}
{% endif %}

<section class="contact {{ contact_class }}">
  {% if contact_returns %}
    {% section 'form-info--returns' %}
  {% elsif contact_bulk %}
    {% section 'form-info--bulk' %}
  {% else %}
    {% section 'form-info' %}
  {% endif %}
</section>
