.page-generic {
  &__wrapper {
    margin: 75px auto;
    max-width: 720px;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }
}

.page-block {
  max-width: $site-max-width + 50px;
  margin: 0 auto;
  padding: 0 25px;
}
